@{
    ViewData["Title"] = "Špotnik";
}

<div class="d-flex flex-column align-items-center">
    <div class="card bg-secondary d-flex justify-content-center align-items-center p-4 mb-3 w-75">
        <h3>@ViewBag.name @ViewBag.lastname</h3>
        <strong>@ViewBag.date</strong>
    </div>
    <div class="card bg-secondary d-flex justify-content-center align-items-center p-4 mb-3 w-75">
        <h3>@ViewBag.name @ViewBag.lastname</h3>
        <strong>@ViewBag.date</strong>
    </div>
    <div class="card bg-secondary d-flex justify-content-center align-items-center p-4 mb-3 w-75">
        <h3>@ViewBag.name @ViewBag.lastname</h3>
        <strong>@ViewBag.date</strong>
    </div>

</div>