@{
    ViewData["Title"] = "Tekmovanje";
}

<div class="d-flex flex-column align-items-center">
    <div id="accordion" class="d-flex flex-column align-items-center w-100">

        <h3 class="w-75">Tekmovanje 1</h3>
        <div class="w-75">
            <div class="card bg-secondary d-flex justify-content-center align-items-center p-4">
                <h3>Tekmovalec: @ViewBag.name @ViewBag.lastname</h3>
                <strong>Datum tekmovanja: @ViewBag.date</strong>
                <div>Tekomvanje: @ViewBag.competition</div>
                <div>Prizorišče: @ViewBag.place</div>
            </div>
        </div>
        <h3 class="w-75">Tekmovanje 2</h3>
        <div class="w-75">
            <div class="card bg-secondary d-flex justify-content-center align-items-center p-4">
                <h3>Tekmovalec: @ViewBag.name @ViewBag.lastname</h3>
                <strong>Datum tekmovanja: @ViewBag.date</strong>
                <div>Tekomvanje: @ViewBag.competition</div>
                <div>Prizorišče: @ViewBag.place</div>
            </div>
        </div>
        <h3 class="w-75">Tekmovanje 3</h3>
        <div class="w-75">
            <div class="card bg-secondary d-flex justify-content-center align-items-center p-4">
                <h3>Tekmovalec: @ViewBag.name @ViewBag.lastname</h3>
                <strong>Datum tekmovanja: @ViewBag.date</strong>
                <div>Tekomvanje: @ViewBag.competition</div>
                <div>Prizorišče: @ViewBag.place</div>
            </div>
        </div>
        
    </div>





</div>
