@{
    ViewData["Title"] = "Registracija uspela";
}



<div class="d-flex flex-column align-items-center">
    <h3>Ime</h3>
    <div>@ViewBag.ime</div>
    <h3>Priimek</h3>
    <div>@ViewBag.priimek</div>
    <h3>Emšo</h3>
    <div>@ViewBag.emso</div>
    <h3>Datum rojstva</h3>
    <div>@ViewBag.datumRojstva</div>
    <h3>Naslov</h3>
    <div>@ViewBag.naslov</div>
    <h3>Poštna številka</h3>
    <div>@ViewBag.postna</div>
    <h3>Država</h3>
    <div>@ViewBag.drzava</div>
    <h3>E-Pošta</h3>
    <div>@ViewBag.eposta</div>
    <h3>Geslo</h3>
    <div>@ViewBag.geslo</div>
</div>
