@{
    ViewData["Title"] = "Registracija uspela";
}
@model Uporabnik


<div class="d-flex flex-column align-items-center">
    @Html.DisplayForModel()
</div>

<!--<div class="d-flex flex-column align-items-center">-->
@*<h3>Ime</h3>
    <div>@ViewBag.ime</div>
    <h3>Priimek</h3>
    <div>@ViewBag.priimek</div>
    <h3>Emšo</h3>
    <div>@ViewBag.emso</div>
    <h3>Datum rojstva</h3>
    <div>@ViewBag.datumRojstva</div>
    <h3>Kraj rojstva</h3>
    <div>@ViewBag.krajRojstva</div>
    <h3>Poštna številka</h3>
    <h3>E-Pošta</h3>
    <div>@ViewBag.eposta</div>
    <h3>Geslo</h3>
    <div>@ViewBag.geslo</div>*@
@*@Html.DisplayForModel()*@
<!--</div>-->
